<!doctype html>
<html>
    <head>
        <title>Vue.js Point Of Sales!</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="app" class="card">
            <h1>{{ title }}</h1>

            <div class="button container">
                <button v-for="item in presetItems"
                        v-bind:id="item.name"
                        @click="addItemToReciept(item)"
                        class="item-btn">
                    {{ item.text }}
                </button>
            </div>

            <div class="item-entry container">
                Item Name: <input v-model="itemName" type="text" id="item-name">
                Item Price: <input v-model="itemPrice" type="number" id="item-price">
                <button @click="addItemToReciept(newItem)" id="item-submit">Enter</button>
            </div>

            <div class="card reciept container">
                <p>Reciept</p>
                <div id="reciept-list">
                    <!-- Reciept items will go here -->
                    <div v-if="recieptEmpty" class="item">Nothing Scanned</div>
                    <div v-else
                         v-for="(item, index) in reciept"
                         v-bind:class="{ sale: item.sale }"
                         class="item">
                        <button @click="removeItemFromReciept(index)" class="remove-item">X</button>
                        <div class="left">
                          {{item.name | capitalize}} {{ item.sale ? '- On Sale!' : '' }}
                        </div>
                        <div class="right">{{item.price | formatMoney}}</div>
                    </div>
                </div>

                <hr>

                <div id="tax-and-total">
                    <div id="subtotal">
                        <div class="left">
                            Subtotal
                        </div>
                        <div class="right value">
                            <!-- Subtotal Value goes here -->
                            {{ subtotal | formatMoney }}
                        </div>
                    </div>

                    <div id="tax">
                        <div class="left">
                            Tax - 10%
                        </div>
                        <div class="right value">
                            <!-- Tax value goes here -->
                            {{ calculatedTax | formatMoney }}
                        </div>
                    </div>

                    <hr>

                    <div id="total">
                        <div class="left">
                            Total
                        </div>
                        <div class="right value">
                            <!-- Total Value goes here -->
                            {{ calculatedTotal | formatMoney }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="lib/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
